{
  "openapi": "3.0.2",
  "info": {
    "title": "Household",
    "description": "This is intended to be a 1 stop shop for our customers to order reports. They will sign up for a group of reports, send in a single request and get a group of reports back. This is to make it easier instead of calling each API separately.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://gatewayuat.verisk.com",
      "description": "UAT"
    },
    {
      "url": "https://gateway.verisk.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Household"
    }
  ],
  "paths": {
    "/underwriting/lightspeed/prefill/household/v1": {
      "post": {
        "tags": [
          "Household"
        ],
        "summary": "v1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "Header": {
                  "Authorization": {
                    "OrgId": "12345",
                    "ShipId": "12345"
                  },
                  "Quoteback": "For Customer Testing"
                },
                "Body": {
                  "Addresses": [
                    {
                      "AddressType": "Risk",
                      "Street1": "2640 Olson St",
                      "City": "Stockton",
                      "StateCode": "CA",
                      "Zip": "95205"
                    }
                  ],
                  "subjects": [
                    {
                      "sequence": 1,
                      "firstName": "Alice",
                      "lastName": "Bob",
                      "dlState": "CA",
                      "previousDLNumber": "CA",
                      "previousDLState": "CA"
                    }
                  ],
                  "phoneNumbers": [
                    "DummyPhoneNumber1",
                    "DummyPhoneNumber2"
                  ],
                  "vehicles": [
                    {
                      "make": "make",
                      "model": "model",
                      "year": "1996",
                      "vin": "vin"
                    }
                  ]
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "xml": {
                  "name": "Request"
                }
              },
              "example": {
                "Header": [
                  {
                    "Authorization": [
                      {
                        "OrgId": "12345"
                      },
                      {
                        "ShipId": "12345"
                      }
                    ]
                  },
                  {
                    "Quoteback": "For Customer Testing"
                  }
                ],
                "Body": [
                  {
                    "Subjects": [
                      {
                        "Subject": [
                          {
                            "Sequence": 1
                          },
                          {
                            "FirstName": "Alice"
                          },
                          {
                            "LastName": "Bob"
                          },
                          {
                            "DlState": "CA"
                          },
                          {
                            "PreviousDlState": "CA"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "PhoneNumbers": [
                      {
                        "PhoneNumber": "DummyPhoneNumber1"
                      },
                      {
                        "PhoneNumber": "DummyPhoneNumber2"
                      }
                    ]
                  },
                  {
                    "Vehicles": [
                      {
                        "Vehicle": [
                          {
                            "Make": "make"
                          },
                          {
                            "Model": "model"
                          },
                          {
                            "Year": "1996"
                          },
                          {
                            "Vin": "vin"
                          }
                        ]
                      }
                    ]
                  },
                  {
                    "Addresses": [
                      {
                        "Address": [
                          {
                            "AddressType": "Risk"
                          },
                          {
                            "Street1": "2640 Olson St"
                          },
                          {
                            "City": "Stockton"
                          },
                          {
                            "StateCode": "CA"
                          },
                          {
                            "Zip": "95205"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success\n\nUpon successful call, the service will return a 200 response along with the data requested. No hits will return an empty body with http status 200.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "header": {
                    "quoteback": "For Customer Testing",
                    "transactionId": "ef28df1d-0636-4c81-81df-076e6406a506"
                  },
                  "body": {
                    "reportResponses": [
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LightSpeed Household Product Key1 i.e {AerialAnalytics}",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LightSpeed Household Product Key2 i.e {LocationDistanceToCoast_PersonalV2}",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationBCEGS_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationBCEGS_PersonalAndCommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationBCEGS_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_FirelineExpanded_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_FirelineExpanded_PersonalV2",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_FirelineExpanded_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_FirelineExpanded_CommercialV2",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationFireLineSHZ_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationFireLineSHZ_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationFireLineSHZ_PersonalWithMapsV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationFireLineSHZ_CommercialWithMapsV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationHailDamageScore_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationHailDamageScore_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationHailRisk_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationHailRisk_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationFirewise_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationFirewise_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationActualDistanceToCoast_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationActualDistanceToCoast_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationDistanceToCoast_CommercialV2",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationLavaTsunami_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationLavaTsunami_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationSinkhole_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationSinkhole_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationWindpool_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationWindpool_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationPPC_PpcxAbbr_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationPPC_PpcxDetail_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationPPC_PpcxDetail_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationPPC_PPCXDetailWithFeppcx_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationPPC_PPCXDetailWithFeppcx_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_PremiumTax_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_PremiumTax_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_CrimePlusDetail_Commercial",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_CrimePlusDetail_Personal",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_CrimePlusAbbr_Commercial",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_CrimePlusAbbr_Personal",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_PropertyTerritory_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_PropertyTerritory_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_AutoTerritory_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_AutoTerritory_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationPPS_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Geopin",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "GeopinV2",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "APlusV1CAP {APlus[X]CAP V1-V4}",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "APlusV1Claim {APlus[X]Claim V1-V4}",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "APlusV1CAPwClaim {APlus[X]CAPwClaim V1-V4}",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "APlusPropertyEnhancedV1CAP {APlusPropertyEnhanced[X]CAP V1-V4}",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "APlusPropertyEnhancedV1Claim {APlusPropertyEnhanced[X]Claim V1-V4}",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "APlusPropertyEnhancedV1CAPwClaim {APlusPropertyEnhanced[X]CAPwClaim V1-V4}",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "APlusPropertyAdvancedV1CAP",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "APlusPropertyAdvancedV1Claim",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "APlusPropertyAdvancedV1CAPwClaim",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "APlusAutoV4CAP",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "APlusAutoV3Claim {APlusAuto[X]Claim V3-V4}",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Waterline",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "BlackKnightV2",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_CABrushFire_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_CABrushFire_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_FloodAssist_CommercialGuaranteedV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_FloodAssist_PersonalGuaranteedV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_FloodAssist_PersonalNonGuaranteedV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_CensusBlockGroup_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_CensusBlockGroup_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_CAEarthquake_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_CAEarthquake_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationCommercialEarthquake_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_CitizensTerritory_PersonalV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "HomeownerV1 {Homeowner[X] V1-V3}",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "SmartSource",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "BuildFax_ChangeDetection",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "BuildFax_PropertyCondition",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "BuildFax_RoofAge",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "BuildFaxv3 ",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "BuildFax_MajorSystems",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "BuildFax_AdditionalInsights",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "LocationGeneralLiabilityTerritory_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_GroupIITerritory_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_GroupITerritory_PersonalV1 ",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "Location_BusinessOwnersTerritory_CommercialV1",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "report": {
                          "DummyResponse": "Successful Product Response Data"
                        },
                        "key": "GeopinBINS",
                        "couldRunReport": true,
                        "statusCode": 200
                      },
                      {
                        "failedResponse": {
                          "transactionId": "aab749ae-18c3-4719-ab29-cd4507617994",
                          "statusCode": 400,
                          "errors": [
                            "Sample Failed Product Response"
                          ]
                        },
                        "key": "LightSpeed Household Product Key3 i.e. {LocationHurricane}",
                        "couldRunReport": false,
                        "statusCode": 400,
                        "reportMessage": "An unhandled exception occurred. Please contact Verisk with the TransactionId to get more details."
                      },
                      {
                        "failedResponse": {
                          "transactionId": "aab749ae-18c3-4719-ab29-cd4507617997",
                          "statusCode": 502,
                          "errors": [
                            "Sample Failed Product Response"
                          ]
                        },
                        "key": "LightSpeed Household Product Key4 i.e. {LocationPPC_PpcxAbbr_PersonalV1}",
                        "couldRunReport": false,
                        "statusCode": 502,
                        "reportMessage": "An unhandled exception occurred. Please contact Verisk with the TransactionId to get more details."
                      }
                    ]
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "xml": {
                    "name": "Response"
                  }
                },
                "example": {
                  "Header": [
                    {
                      "QuoteBack": "For Customer Testing"
                    },
                    {
                      "TransactionId": "4b1f82a2-8ff5-4dfd-89c5-191e2a05772b"
                    }
                  ],
                  "Body": [
                    {
                      "ReportResponses": [
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Lightspeed Household Product Key1 i.e. {AerialAnalytics}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Lightspeed Household Product Key2 i.e. {LocationDistanceToCoast_PersonalV2}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationBCEGS_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationBCEGS_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationBCEGS_PersonalAndCommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_FirelineExpanded_PersonalV1 {Location_FirelineExpanded_Personal[X] V1-V2}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_FirelineExpanded_CommercialV1 {Location_FirelineExpanded_Commercial[X] V1-V2}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationFireLineSHZ_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationFireLineSHZ_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationFireLineSHZ_PersonalWithMapsV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationFireLineSHZ_CommercialWithMapsV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationHailDamageScore_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationHailDamageScore_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationHailRisk_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationHailRisk_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationFirewise_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationFirewise_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationActualDistanceToCoast_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationActualDistanceToCoast_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationDistanceToCoast_CommercialV2"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationLavaTsunami_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationLavaTsunami_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationSinkhole_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationSinkhole_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationWindpool_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationWindpool_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationPPC_PpcxAbbr_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationPPC_PpcxDetail_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationPPC_PpcxDetail_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationPPC_PPCXDetailWithFeppcx_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationPPC_PPCXDetailWithFeppcx_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_PremiumTax_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_PremiumTax_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_CrimePlusDetail_Commercial"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_CrimePlusDetail_Personal"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_CrimePlusAbbr_Commercial"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_CrimePlusAbbr_Personal"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_PropertyTerritory_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_PropertyTerritory_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_AutoTerritory_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_AutoTerritory_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationPPS_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Geopin"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "GeopinV2"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "APlusV1CAP {APlus[X]CAP V1-V4}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "APlusV1Claim {APlus[X]Claim V1-V4}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "APlusV1CAPwClaim {APlus[X]CAPwClaim V1-V4}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "APlusPropertyEnhancedV1CAP {APlusPropertyEnhanced[X]CAP V1-V4}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "APlusPropertyEnhancedV1Claim {APlusPropertyEnhanced[X]Claim V1-V4}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "APlusPropertyEnhancedV1CAPwClaim {APlusPropertyEnhanced[X]CAPwClaim[X]CAP V1-V4}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "APlusPropertyAdvancedV1CAP"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "APlusPropertyAdvancedV1Claim"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "APlusPropertyAdvancedV1CAPwClaim"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "APlusAutoV4CAP"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "APlusAuto[X]Claim {APlusAuto[X]Claim V3-V4}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Waterline"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "BlackKnightV2"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_CABrushFire_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_CABrushFire_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_FloodAssist_CommercialGuaranteedV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_FloodAssist_PersonalGuaranteedV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_FloodAssist_PersonalNonGuaranteedV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_CensusBlockGroup_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_CensusBlockGroup_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_CAEarthquake_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_CAEarthquake_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationCommercialEarthquake_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_CitizensTerritory_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "HomeownerV1 {Homeowner[X] V1-V3}"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "SmartSource"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "BuildFax_ChangeDetection"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "BuildFax_PropertyCondition"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "BuildFax_RoofAge"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "BuildFaxv3"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "BuildFax_MajorSystems"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "BuildFax_AdditionalInsights"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "LocationGeneralLiabilityTerritory_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_GroupIITerritory_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_GroupITerritory_PersonalV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "Location_BusinessOwnersTerritory_CommercialV1"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "Report": [
                                {
                                  "DummyResponse": "Successful Product Response Data"
                                }
                              ]
                            },
                            {
                              "Key": "GeopinBINS"
                            },
                            {
                              "CouldRunReport": true
                            },
                            {
                              "StatusCode": 200
                            }
                          ]
                        },
                        {
                          "ReportResponse": [
                            {
                              "FailedResponse": [
                                {
[...]
