node_modules
.DS_Store
dist
bin
*.local
bundle-analyzer

# Temp files

.temp
.cache
.idea
.husky
__screenshots__

docs/.vitepress/.temp
docs/.vitepress/.cache
docs/.vitepress/cache
docs/.vitepress/dist
