@import "@/styles/mixins/inputs";

input[type="text"] {
  @include input-text;

  -webkit-appearance: none; // need this to allow box-shadow to apply on mobile
  appearance: none;
  background-color: var(--kui-color-background, $kui-color-background);
  border: 0;
  border-radius: var(--kui-border-radius-30, $kui-border-radius-30);
  box-shadow: var(--kui-shadow-border, $kui-shadow-border);
  box-sizing: border-box; // Ensure the padding is calculated in the element's width
  transition: box-shadow var(--kui-animation-duration-20, $kui-animation-duration-20) ease;
  outline: none;
  width: 100%;
  padding: var(--kui-space-40, $kui-space-40) var(--kui-space-50, $kui-space-50);

  &:hover {
    box-shadow: var(--kui-shadow-border-primary-weak, $kui-shadow-border-primary-weak);
  }

  &:focus {
    box-shadow: var(--kui-shadow-border-primary, $kui-shadow-border-primary), var(--kui-shadow-focus, $kui-shadow-focus);
  }

  &:disabled {
    background-color: var(--kui-color-background-disabled, $kui-color-background-disabled) !important;
    box-shadow: var(--kui-shadow-border-disabled, $kui-shadow-border-disabled) !important;
    color: var(--kui-color-text-disabled, $kui-color-text-disabled) !important;
    cursor: not-allowed;
  }
}
