@import '@/styles/mixins/buttons';
@import '@/styles/mixins/schema-model';
@import '@/styles/mixins/toc';
@import '@/styles/mixins/tree';

// common mixins; to be used in varied places
@mixin truncate($lines: 0) {
  // if lines is 0, truncate with ellipsis, otherwise truncate with line clamp
  @if $lines == 0 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    overflow: hidden;
  }
}

@mixin chevron-toggle {
  color: var(--kui-color-text-neutral-strong, $kui-color-text-neutral-strong) !important;
  flex-shrink: 0;
  height: var(--kui-icon-size-30, $kui-icon-size-30) !important;
  pointer-events: none;
  transition: transform var(--kui-animation-duration-20, $kui-animation-duration-20) ease;
  width: var(--kui-icon-size-30, $kui-icon-size-30) !important;

  &.expanded {
    transform: rotate(90deg);
  }
}

@mixin page-header {
  >.title {
    font-size: var(--kui-font-size-80, $kui-font-size-80);
    font-weight: var(--kui-font-weight-bold, $kui-font-weight-bold);
    line-height: var(--kui-line-height-70, $kui-line-height-70);
    margin: var(--kui-space-0, $kui-space-0);
    margin-bottom: var(--kui-space-60, $kui-space-60);
  }
  >.description {
    font-size: var(--kui-font-size-30, $kui-font-size-30);
    line-height: var(--kui-line-height-40, $kui-line-height-40);
  }
}
