/**
 * All transitions must be prefixed with 'spec-renderer' so that they don't conflict with host app transitions.
 */

.spec-renderer-fade-enter-active,
.spec-renderer-fade-leave-active {
  transition: opacity var(--kui-animation-duration-20, $kui-animation-duration-20) ease;
}

.spec-renderer-fade-enter-from,
.spec-renderer-fade-leave-to {
  opacity: 0;
}

// slide in transition/animation

@keyframes spec-renderer-slide-in {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.spec-renderer-slide-in-enter-active {
  animation: spec-renderer-slide-in var(--kui-animation-duration-20, $kui-animation-duration-20) ease;
}

.spec-renderer-slide-in-leave-active {
  animation: spec-renderer-slide-in var(--kui-animation-duration-20, $kui-animation-duration-20) ease reverse;
}
