// ToDo: Temporary stylesheet, move styles to component level & scoped

a {
  color: var(--kui-color-text-primary, $kui-color-text-primary);
  text-decoration: none;

  &:hover {
    color: var(--kui-color-text-primary-stronger, $kui-color-text-primary-stronger);
  }

  // Add external link icons
  &[href^="http://"],
  &[href^="https://"]
  {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiBvdXRib3VuZCIKICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGFyaWEtaGlkZGVuPSJ0cnVlIiBhcmlhLWxhYmVsPSIob3BlbnMgbmV3IHdpbmRvdykiIGZvY3VzYWJsZT0iZmFsc2UiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgd2lkdGg9IjE1IiBoZWlnaHQ9IjE1Ij4KICA8cGF0aCBmaWxsPSIjYWFhIiBkPSJNMTguOCw4NS4xaDU2bDAsMGMyLjIsMCw0LTEuOCw0LTR2LTMyaC04djI4aC00OHYtNDhoMjh2LThoLTMybDAsMGMtMi4yLDAtNCwxLjgtNCw0djU2QzE0LjgsODMuMywxNi42LDg1LjEsMTguOCw4NS4xeiIgLz4KICA8cG9seWdvbiBmaWxsPSIjYWFhIiBwb2ludHM9IjQ1LjcsNDguNyA1MS4zLDU0LjMgNzcuMiwyOC41IDc3LjIsMzcuMiA4NS4yLDM3LjIgODUuMiwxNC45IDYyLjgsMTQuOSA2Mi44LDIyLjkgNzEuNSwyMi45IiAvPgo8L3N2Zz4K");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    padding-right: var(--kui-space-60, $kui-space-60);
  }
}

hr {
  border-bottom: none;
  border-top: var(--kui-border-width-10, $kui-border-width-10) solid var(--kui-color-border, $kui-color-border);
  margin: var(--kui-space-70, $kui-space-70) var(--kui-space-0, $kui-space-0);
}

// inline code
code {
  background: var(--kui-color-background-neutral-weaker, $kui-color-background-neutral-weaker);
  border-radius: var(--kui-border-radius-20, $kui-border-radius-20);
  color: var(--kui-color-text, $kui-color-text);
  font-family: var(--kui-font-family-code, $kui-font-family-code);
  font-size: var(--kui-font-size-30, $kui-font-size-30);
  padding: var(--kui-space-10, $kui-space-10) var(--kui-space-20, $kui-space-20);
  white-space: break-spaces;
  word-wrap: break-word;
}

img {
  max-width: 100%;
}
