@mixin default-button-reset {
  background-color: var(--kui-color-background-transparent, $kui-color-background-transparent);
  border: none;
  color: var(--kui-color-text-neutral, $kui-color-text-neutral);
  cursor: pointer;
  padding: var(--kui-space-0, $kui-space-0);
}

@mixin button-default {
  @include default-button-reset;
  align-items: center;
  background-color: var(--kui-color-background-primary, $kui-color-background-primary);
  border: var(--kui-border-width-20, $kui-border-width-20) solid var(--kui-color-border-transparent, $kui-color-border-transparent);
  border-radius: var(--kui-border-radius-30, $kui-border-radius-30);
  color: var(--kui-color-text-inverse, $kui-color-text-inverse);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--kui-font-family-text, $kui-font-family-text);
  font-size: var(--kui-font-size-30, $kui-font-size-30);
  gap: var(--kui-space-30, $kui-space-30);
  justify-content: center;
  line-height: var(--kui-line-height-30, $kui-line-height-30);
  padding: var(--kui-space-20, $kui-space-20) var(--kui-space-40, $kui-space-40);
  transition: background-color var(--kui-animation-duration-20, 0.2s) ease-in-out,
    color var(--kui-animation-duration-20, 0.2s) ease-in-out,
    border-color var(--kui-animation-duration-20, 0.2s) ease-in-out;
  white-space: nowrap;

  &:hover:not(:disabled):not(:focus):not(:active) {
    background-color: var(--kui-color-background-primary-strong, $kui-color-background-primary-strong);
  }

  &:focus-visible {
    background-color: var(--kui-color-background-primary-stronger, $kui-color-background-primary-stronger);
  }

  &:active {
    background-color: var(--kui-color-background-primary-strongest, $kui-color-background-primary-strongest);
  }

  &.secondary {
    background-color: var(--kui-color-background-transparent, $kui-color-background-transparent);
    border: var(--kui-border-width-20, $kui-border-width-20) solid var(--kui-color-border-primary, $kui-color-border-primary);
    color: var(--kui-color-text-primary, $kui-color-text-primary);

    &:hover:not(:disabled):not(:focus):not(:active) {
      background-color: var(--kui-color-background-transparent, $kui-color-background-transparent);
      border-color: var(--kui-color-border-primary-strong, $kui-color-border-primary-strong);
      color: var(--kui-color-text-primary-strong, $kui-color-text-primary-strong);
    }

    &:focus-visible {
      background-color: var(--kui-color-background-transparent, $kui-color-background-transparent);
      border-color: var(--kui-color-border-primary-stronger, $kui-color-border-primary-stronger);
      color: var(--kui-color-text-primary-stronger, $kui-color-text-primary-stronger);
    }

    &:active {
      background-color: var(--kui-color-background-transparent, $kui-color-background-transparent);
      border-color: var(--kui-color-border-primary-strongest, $kui-color-border-primary-strongest);
      color: var(--kui-color-text-primary-strongest, $kui-color-text-primary-strongest);
    }
  }


  &.tertiary {
    background-color: var(--kui-color-background-transparent, $kui-color-background-transparent);
    border: var(--kui-border-width-20, $kui-border-width-20) solid var(--kui-color-border-transparent, $kui-color-border-transparent);
    color: var(--kui-color-text-primary, $kui-color-text-primary);

    &:hover:not(:disabled):not(:focus):not(:active) {
      background-color: var(--kui-color-background-primary-weakest, $kui-color-background-primary-weakest);
      color: var(--kui-color-text-primary-strong, $kui-color-text-primary-strong);
    }

    &:focus-visible {
      background-color: var(--kui-color-background-primary-weakest, $kui-color-background-primary-weakest);
      color: var(--kui-color-text-primary-stronger, $kui-color-text-primary-stronger);
    }

    &:active {
      background-color: var(--kui-color-background-primary-weaker, $kui-color-background-primary-weaker);
      color: var(--kui-color-text-primary-strongest, $kui-color-text-primary-strongest);
    }
  }
}
