@mixin input-text {
  color: var(--kui-color-text, $kui-color-text);
  font-size: var(
    --kui-font-size-40,
    $kui-font-size-40
  ); // needs to be at least 16px to prevent automatic zoom in on focus on mobile
  font-weight: var(--kui-font-weight-regular, $kui-font-weight-regular);
  line-height: var(--kui-line-height-40, $kui-line-height-40); // $kTextAreaLineHeight

  @media (min-width: $kui-breakpoint-mobile) {
    font-size: var(--kui-font-size-30, $kui-font-size-30);
  }
}
