@use "@kong/design-tokens/tokens/scss/variables" as *;
@use "@/styles/mixins/common" as *;

@mixin toc-item {
  align-items: center;
  background-color: var(
    --kui-color-background-transparent,
    $kui-color-background-transparent
  ); // transparent so that it doesn't interfere with the parent's background color
  border-radius: var(--kui-border-radius-20, $kui-border-radius-20);
  color: var(--kui-color-text-neutral-strong, $kui-color-text-neutral-strong);
  display: flex;
  font-size: var(--kui-font-size-30, $kui-font-size-30);
  font-weight: var(--kui-font-weight-regular, $kui-font-weight-regular);
  gap: var(--kui-space-30, $kui-space-30);
  justify-content: space-between;
  line-height: var(--kui-line-height-30, $kui-line-height-30);
  padding: var(--kui-space-30, $kui-space-30);
  text-align: left;
  text-decoration: none;
  transition: color var(--kui-animation-duration-20, $kui-animation-duration-20) ease,
    background-color var(--kui-animation-duration-20, $kui-animation-duration-20) ease;

  &:hover:not(.active) {
    color: var(--kui-color-text-neutral-stronger, $kui-color-text-neutral-stronger);
  }

  .chevron-icon {
    @include toggle-icon;
  }

  &.active {
    color: var(--kui-color-text-primary, $kui-color-text-primary);
  }
}
