@mixin truncate($lines: 0) {
  // if lines is 0, truncate with ellipsis, otherwise truncate with line clamp
  @if $lines == 0 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    overflow: hidden;
  }
}

@mixin default-button-reset {
  background-color: var(--kui-color-background-transparent, $kui-color-background-transparent);
  border: none;
  color: inherit;
  cursor: pointer;
  padding: var(--kui-space-0, $kui-space-0);
}

@mixin toc-item {
  align-items: center;
  background-color: var(
    --kui-color-background-transparent,
    $kui-color-background-transparent
  ); // transparent so that it doesn't interfere with the parent's background color
  border-radius: var(--kui-border-radius-20, $kui-border-radius-20);
  color: var(--kui-color-text-neutral-strong, $kui-color-text-neutral-strong);
  display: flex;
  font-size: var(--kui-font-size-30, $kui-font-size-30);
  font-weight: var(--kui-font-weight-regular, $kui-font-weight-regular);
  gap: var(--kui-space-30, $kui-space-30);
  justify-content: space-between;
  line-height: var(--kui-line-height-30, $kui-line-height-30);
  padding: var(--kui-space-30, $kui-space-30);
  text-align: left;
  transition: color background-color var(--kui-animation-duration-20, $kui-animation-duration-20) ease, background-color var(--kui-animation-duration-20, $kui-animation-duration-20) ease;

  &:hover:not(.active) {
    color: var(--kui-color-text-neutral-strongest, $kui-color-text-neutral-strongest);
  }

  .chevron-icon {
    color: var(--kui-color-text-neutral-strong, $kui-color-text-neutral-strong) !important;
    flex-shrink: 0;
    height: var(--kui-icon-size-30, $kui-icon-size-30) !important;
    pointer-events: none;
    transition: transform var(--kui-animation-duration-20, $kui-animation-duration-20) ease;
    width: var(--kui-icon-size-30, $kui-icon-size-30) !important;

    &.expanded {
      transform: rotate(90deg);
    }
  }

  &.active {
    background-color: var(--kui-color-background-primary-weakest, $kui-color-background-primary-weakest);
    color: var(--kui-color-text-primary, $kui-color-text-primary);
  }
}

@mixin model-property-additional-field {
  color: var(--kui-color-text-neutral-strong, $kui-color-text-neutral-strong);
  font-size: var(--kui-font-size-20, $kui-font-size-20);
  font-weight: var(--kui-font-weight-regular, $kui-font-weight-regular);
  line-height: var(--kui-line-height-30, $kui-line-height-30);

  .field-title {
    margin-right: var(--kui-space-40, $kui-space-40);
  }
}

@mixin model-property-field-value {
  background-color: var(--kui-color-background, $kui-color-background);
  border-radius: var(--kui-border-radius-20, $kui-border-radius-20);
  box-shadow: var(--kui-shadow-border, $kui-shadow-border);
  color: var(--kui-color-text-neutral, $kui-color-text-neutral);
  font-size: var(--kui-font-size-20, $kui-font-size-20);
  font-weight: var(--kui-font-weight-regular, $kui-font-weight-regular);
  line-height: var(--kui-line-height-20, $kui-line-height-20);
  padding: var(--kui-space-10, $kui-space-10) var(--kui-space-20, $kui-space-20);
}