$branch-width: var(--kui-space-60, $kui-space-60);
$left: calc(-1 * ($branch-width));
$border: var(--kui-border-width-10, $kui-border-width-10) solid var(--kui-color-border, $kui-color-border);

@mixin tree-nesting {
  margin-left: var(--kui-space-60, $kui-space-60);

  >* {
    position: relative;

    &::before {
      border-bottom: $border;
      border-left: $border;
      content: "";
      height: var(--kui-icon-size-30, $kui-icon-size-30);
      left: $left;
      position: absolute;
      top: 2px;
      width: $branch-width;
    }

    &::after {
      border-left: $border;
      content: "";
      height: 100%;
      left: $left;
      position: absolute;
      top: 0px;
      width: $branch-width;
    }
  }
}